
body{
    background-color: whitesmoke;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*Base designs*/
a{
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px dashed black;
    background-color: rgb(65, 65, 244);
}

.header h1{
    border: 1px dashed black;
    padding: 15px;
    margin: 10px;

}

.header nav{
 width: 600px;
  align-items: baseline;
}

.header nav ul{
    display: flex;
    flex-flow: left;
    justify-content: space-between;
    list-style-type: none;

}

.header nav ul li a{
    color: inherit;
    height: 100%;
    font-size: 24px;

    
}